<div>
  <div class="form-group">
    <h3 id="title"><strong>Profile for Seller: {{user.username}}</strong></h3>
  </div>
  <form>

    <div class="form-group">
      <p id="firstName">First Name:  {{user.firstName}}</p>
    </div>

    <div class="form-group">
      <p id="lastName">Last Name:  {{user.lastName}}</p>
    </div>

    <div class="form-group">
      <p id="email">Email:  {{user.email}}</p>
    </div>

    <div class="form-group">
      <a routerLink="/profile/{{user._id}}/book">Books he/she is selling:  {{user.books.length}}</a>
    </div>


    <div class="form-group">
      <a routerLink="/profile/{{user._id}}/following">Following:  {{user.follow.length}}</a>
    </div>


    <div class="form-group">
      <a routerLink="/profile/{{user._id}}/followedby">Followers  {{user.followedBy.length}}</a>
      <h4 *ngIf="hasFollowed">You have followed</h4>
      <button *ngIf="!hasFollowed" (click)="follow()">Follow</button>
    </div>

  </form>
</div>
