<div style="display: block " class="container-fluid scrollable container">
  <div class="form-group">
    <!--<input type="text" placeholder="file name">-->
    <h1>Document name: {{sharedBook.name}}</h1>
    <p>(Notice: you can open multiple windows to monitor multiple clients)</p>
    <!--<button class="btn-primary">Save</button>-->
  </div>

  <!--<div>-->
  <!--<p>Current Users</p>-->
  <!--</div>-->


  <!--<div class="container">-->
  <!--<h1>???????????</h1>-->
  <!--</div>-->

  <div  id="editor">
  </div>
</div>
