
<!--<div class="container-fluid">-->
  <!--<a class="navbar-brand text-bold" routerLink="./">-->
    <!--Buyer List-->
  <!--</a>-->
  <!--<ul class="list-group list-group-borderless">-->
    <!--<li class="list-group-item list-item-borderless" *ngFor = "let user of users">-->
      <!--<a routerLink="/profile/{{user._id}}">{{user.username}}</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->

<div class="container doc-card  doc-margin-top ">
  <!--<img src="/docimages/avatar_g.jpg" style="width:100%">-->
  <div class=" doc-white">
    <h4><b>Book Name</b></h4>
    <p>{{book.name}}</p>
  </div>
</div><hr>

<!-- Posts -->

<div class="container doc-card ">
  <!--<div class="  container">-->
  <h4>Buyer List</h4>
  <!--</div>-->
  <ul class="doc-ul doc-hoverable doc-white">
    <li class="doc-padding-16" *ngFor = "let user of users">
      <!--<img src="/docimages/workshop.jpg" alt="Image" class="doc-left doc-margin-right" style="width:50px">-->
      <a routerLink="/profile/{{user._id}}"> <span class="doc-large">{{user.username}}</span><br>
        <span>{{user.username}} is a {{user.role}}</span></a>

    </li>



  </ul>
</div>
