<app-slideshow></app-slideshow>

<div class="layout-container">
  <div class="product-grid">

    <div class="col-md-4 col-sm-6" *ngFor="let book of books;let i = index">
      <div class="image-container">
        <div class="product-image" [ngStyle]="{'background-image': 'url(' + book.imageUrl + ')'}"></div>
        <div class="overlay">
          <div class="button button-primary" style="cursor:pointer;" [routerLink]="['/book', book._id]">View Details</div>
          <div class="button button-primary" style="cursor:pointer;" (click)="addToCart(book)">Add To Cart</div>
        </div>
      </div>
      <div class="product-details">
        <div class="product-brand">{{book.author}}</div>
        <div class="product-title">{{book.name}}</div>
        <div class="product-price">$ {{book.price}}</div>
      </div>
    </div>
  </div>
</div>






