<nav class="navbar blue-navbar navbar-fiexed-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink=".." class="text-white">
        <span class="glyphicon glyphicon-chevron-left text-white"></span>
      </a>
    </p>
    <a class="text-white navbar-brand text-bold" routerLink="./">
      Followed By List
    </a>
  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group list-group-borderless">
    <li class="list-group-item list-item-borderless" *ngFor = "let user of followedBy">
      <a routerLink="/profile/{{user._id}}">{{user.username}}</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-fixed-bottom blue-navbar">
  <div class="container-fluid">
    <a routerLink="/profile" class="navbar-text pull-right text-white icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
