
<div style="display: block" class="container">
  <form (ngSubmit)="createPage()" #newPageForm="ngForm">
    <div *ngIf="errFlag" class="alert alert-danger">
      {{error}}
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" ngModel name="bookName" class="form-control" id="name" placeholder="Document name">
      <span class="alert-class"
            *ngIf="errFlag">{{alert}}</span>
    </div>
    <!--<div class="form-group">-->
    <!--<label for="title">Content</label>-->
    <!--<input type="text" ngModel name="pageTitle" class="form-control" placeholder="title" id="title">-->
    <!--</div>-->
    <button type="submit">Submit</button>
  </form>
</div>
