<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a routerLink=".." class="text-black icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a (click)="updatePage()" class="icon-padding text-black">
              <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <a class="navbar-brand text-white text-bold" routerLink="./">
            Edit Page
        </a>
    </div>
</nav>

<div class="container-fluid container-padding">
    <div class="form-group">
        <label for="page-name">Name</label>
        <input [(ngModel)]="page.name" type="text" class="form-control" id="page-name" placeholder="Page Name">
    </div>
    <div class="form-group">
        <label for="page-title">Title</label>
        <input [(ngModel)]="page.title" type="text" class="form-control" id="page-title" placeholder="Page Title">
    </div>
    <div class="form-group">
      <button (click)="deletePage()" class="btn btn-danger form-control" type="button">Delete</button>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">
            <a routerLink="../../../.." class="icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
