<div class="product-page">
  <div class="product-page-container">
    <ol class="product-breadcrumbs">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"> / <a routerLink="/">Books</a></li>
      <li class="breadcrumb-item"> / {{book?.name}}</li>
    </ol>
    <div class="row">
      <div class="col-md-6">
        <div class="product-details-image" [ngStyle]="{'background-image': 'url(' + book?.imageUrl + ')'}"></div>
      </div>
      <div class="col-md-6">
        <div class="product-details-row">
          <div class="product-brand">{{book?.author}}</div>
          <h1 class="product-title">{{book?.name}}</h1>
          <div style="cursor:pointer;" class="product-brand" [routerLink]="['/profile', seller?._id]"><u>Sold by: {{seller?.username}}</u></div>
          <div style="cursor:pointer;" class="product-brand" [routerLink]="['/book', book?._id, 'user']"><u>{{book?._buyer.length}} Purchases</u></div>
          <div class="product-brand" *ngIf="book?.comments.length !== 0">{{book?.comments.length}} Reviews ({{book?.rating.toFixed(2)}}/5)</div>
          <div class="product-brand" *ngIf="book?.comments.length === 0">Be the first one to rate</div>
          <div style="cursor:pointer;" class="product-brand" [routerLink]="['/book', book?._id, 'comment', 'new']"><u>Write a review</u></div>
          <div class="product-price">$ {{book?.price}}</div>
          <div class="product-brand">Published by: {{book?.publisher}} in {{book?.year}}</div>
          <div class="product-description">{{book?.description}}</div>

        </div>
        <div class="product-details-button">
          <div class="product-cart-button button button-primary button-large" (click)="onCart()">Add to cart</div>
          <div style="cursor:pointer;" class="product-cart-button button button-primary button-large" [routerLink]="['/cart']">Go to cart</div>
          <div style="cursor:pointer;" class="product-cart-button button button-primary button-large" *ngIf="book?._seller === userId"
               [routerLink]="['/book', book?._id, 'edit']">Edit Book</div>
        </div>
        <div class="product-details-row" style="text-align: left" *ngIf="book?.comments.length !== 0">
          <div class="product-brand"><strong>Comments (refresh page if database hasn't returned updated data)</strong></div>
          <ul class="list-group cl-list-group-borderless">
            <li class="list-group-item cl-list-item-borderless" *ngFor="let comment of book?.comments">
              <div class="product-brand"><strong>{{comment?.username}}:</strong> &nbsp; {{comment?.rating}} out of 5</div>
              <div class="product-brand"><strong>{{comment?.title}}:</strong> &nbsp; {{comment?.description}}</div>
              <a style="cursor:pointer;" *ngIf="comment?._author === userId" [routerLink]="['/book', book?._id, 'comment', comment?._id]">Edit</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
