<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a routerLink="../" class="text-black icon-padding">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <a class="navbar-brand text-white text-bold" routerLink=".">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container-fluid container-padding">
    <ul class="list-group list-group-borderless">
          <li class="list-group-item list-item-borderless">
              <a routerLink="./header">Header</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink=".">Label</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink="./html">HTML</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink="./text">Text Input</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink=".">Link</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink=".">Button</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink="./image">Image</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink="./youtube">YouTube</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink=".">Data Table</a>
          </li>
          <li class="list-group-item list-item-borderless">
              <a routerLink=".">Repeater</a>
          </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">
            <a routerLink="../../../../.." class="icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
