.logo {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Roboto,Noto,sans-serif;
}
.logo a {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: #202020;
  text-decoration: none;
  display: inline-block;
  pointer-events: auto;
}
