<div class="container">
  <h1>Register</h1>
  <form (ngSubmit) = "register()" #f="ngForm">
    <div *ngIf="errorMsg"
         class="alert alert-danger">
      <span>{{errorMsg}}</span>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input placeholder="username" name="username" type="text" class="form-control"
             ngModel required #username="ngModel"/>
      <span class="help-block" *ngIf="!username.valid && username.touched">*Please enter username!</span>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input placeholder="password" name="password" type="password" class="form-control"
             ngModel required #password="ngModel"/>
      <span class="help-block" *ngIf="!password.valid && password.touched">*Please enter password!</span>
    </div>
    <div class="form-group">
      <label>Verify Password</label>
      <input placeholder="verify password" name="verify" type="password" class="form-control"
             ngModel required #verify="ngModel"/>
      <span class="help-block" *ngIf="!verify.valid && verify.touched">*Please enter password again!</span>
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid">Register</button>
    <button class="btn btn-danger btn-block" type="button" routerLink="/login">Cancel</button>
  </form>
</div>
